<%= link_to user_path(user)  do%>
  <li class="custom-list-item">
    <% if user.photo? %>
      <%= image_tag user.photo %>
    <% else %>
      <%= image_tag 'https://randomuser.me/api/portraits/med/men/75.jpg' %>
    <% end %>
    <h5 class="custom-span"><%= user.name %></h5>
    <span class="custom-span">Number of Posts: <%= user.posts_counter %></span>
    </li>
  <%end%>

