   
     <div>
<h1 class="user-name"><%=@user.name%><span class="posts_counter">Number of Posts: <%=@user.posts_counter%></span></h1>
<h3 class="bio">Bio: <p ><%=@user.bio%></p></h3>

<ul>
<%@user.recent_posts.each_with_index do |post, index|%>
      
<li >Post #<%= index + 1%>
<h6><%=post.title%></h6> 

<div class="comment-likes">
<span>Comments: <%=post.comments_counter%></span>
<span class="like-span">Likes: <%=post.likes_counter%></span>
</div>

</li>

<%end%>

</ul>
<a href="/users/<%= @user.id%>/posts" class="all_post_btn">See all Posts</a>

</div>
         